<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">4422d0bbbb7f834550805ac7af4fc7031ef673ab61c7e7db7df10b0461ddf13c</property>
  <property name="hibernate.connection.url">jdbc:postgresql://ec2-52-22-216-69.compute-1.amazonaws.com:5432/d3srlhgblinpa7</property>
  <property name="hibernate.connection.username">nphckdefohuduj</property>
  <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
  <mapping class="chung.crud.model.User"/>
 </session-factory>
</hibernate-configuration>
